@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IndexModel
@{
    ViewData["Title"] = "Chat Page";
}

<form method="post" asp-antiforgery="true">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p id="currentTime">The time on the server is @Model.CurrentTime</p>

        <div>
            <h3>Message history</h3>
            <div id="messageHistory" class="message-history">
                @foreach (var message in Model.MessageHistory)
                {
                    <div class="message-right">
                        @message.Content
                    </div>

                    @if (message.AnswerContent != string.Empty)
                    {
                        <div class="message-left">
                            @Html.Raw(message.AnswerContent)
                        </div>
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <input type="text" asp-for="MessageOnU.message" class="form-control input-message" placeholder="Enter a message" />
            <input type="submit" value="SEND" class="btn btn-primary input-submit" />
        </div>
    </div>
</form>
